.card-container {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardFront,
.cardBack {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardFront {
  transform: rotateY(180deg);
  background-color: white;
  padding: 10px 0;
}
.cardBack {
  background: url("../data/images/fancyPattern.webp");
}

.valueCard,
.valueCardBottom,
.valueCardBottomPic {
  position: absolute;
  font-weight: bold;
}

.valueCard {
  top: 0;
  left: 6%;
}
.valueCardBottom {
  top: -50%;
  left: -8%;
}

.valueCardBottomPic {
  top: -1vh;
  left: -8%;
}

.card-layout-div {
  width: 80%;
  display: flex;
  justify-content: center;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  height: 10%;
}

.row4,
.row5 {
  transform: rotate(180deg);
}

/*  Faces   */

.row3 > img {
  height: 80%;
}

.card-picture {
  max-height: 12vh;
}

@media (max-width: 320px) {
  .card-layout-div {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .card-layout-div {
    font-size: 12px;
  }
}

@media (min-width: 375px) {
  .card-layout-div {
    font-size: 14px;
  }
}
