.cardFront {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.valueCard,
.valueCardBottom {
  margin: 0 -15% 0 3%;
}

.valueCard {
  margin-top: -10px;
}

.card-layout-div {
  width: 96%;
  display: flex;
  justify-content: center;
}

.row1 {
  gap: 5%;
  padding-top: 10px;
}

.row3 {
  gap: 5%;
  height: 15px;
  padding-bottom: 10px;
}

.row4,
.row5 {
  transform: rotate(180deg);
}

.row5 {
  gap: 5%;
}

/*  Faces   */

.row3 > img {
  height: 80px;
}
