@import url("./meyerReset.css");
@import url("./cardAnimation.css");
@import url("./winGame.css");
@import url("./cardLayout.css");
@import url("./navbar.css");

:root {
  --font: "Noto Sans", sans-serif;
  --background: #101026;
  --hover: #0088d2;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
}

main {
  flex: 1;
  padding: 10px;
  position: relative;
  background-color: #00512c;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover {
  cursor: default;
}

/* Position cards: */
#game {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
#player-card,
#computer-card {
  position: absolute;
  left: 50%;
}

#player-card {
  bottom: 3vh;
}

#computer-card {
  top: 3vh;
}

#player-deck,
#computer-deck {
  position: absolute;
  left: 50%;
  transition: 0.5s;
}

#player-deck,
#computer-deck {
  bottom: 50%;
}

/* #computer-deck {
  top: 50;
} */

#player-deck,
#computer-deck {
  transform: translateX(-50%);
  background: url("../data/images/fancyPattern.webp");
}

#player-deck:hover {
  cursor: pointer;
}

/* Style cards */
.card {
  aspect-ratio: 2/3;
  height: 15vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  position: relative;
}

.card-container {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 5px;
}

.cardFront {
  transform: rotateY(180deg);
  background-color: white;
}
.cardBack {
  background: url("../data/images/fancyPattern.webp");
}

/* Score */

#score {
  color: white;
}

#score > h2 {
  text-decoration: underline;
  font-weight: bold;
}
