* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #101026;
  height: 70px;
}

main {
  background: #5e7f88;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 30px;
}

margin {
  flex-grow: 1;
}

li {
  list-style: none;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.5s ease;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #0088d2;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100px;
    top: 5%;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #101026;
    text-align: center;
    width: 0%;
    flex-direction: column;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    width: 100%;
  }
}

#pc-name {
  background: #f4f4f4;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
#player-name {
  background: #f4f4f4;
  width: 100%;
  height: 30px;
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#board-game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#pc-deck {
  height: 20%;
  width: 12%;
  border: 1px solid black;
}

#player-deck {
  position: relative;
  height: 20%;
  width: 12%;
  border: 1px solid black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.card-front, .card-back{
  position: absolute;
  border: 20px red;
  animation-name: cardMoveUp;
  animation-duration: 4s;
}

@keyframes cardMoveUp {
  0% {margin-bottom: 0px;}
  100% {margin-bottom: 200px;}
}
